In [1]:
import pandas_datareader as pdr
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\raajk\anaconda3\envs\tf2.5\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\raajk\anaconda3\envs\tf2.5\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
C:\Users\raajk\anaconda3\envs\tf2.5\lib\site-packages\numpy\.libs\libopenblas.xwydx2ikjw2nmtwsfyngfuwkqu3lytcz.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
#type your key
key = ''

In [4]:
df = pdr.get_data_tiingo('XIACF', api_key = key)

C:\Users\raajk\anaconda3\envs\tf2.5\lib\site-packages\pandas_datareader\tiingo.py:234: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  return pd.concat(dfs, self._concat_axis)

In [6]:
df.to_csv('XIACF.csv')
df = pd.read_csv('XIACF.csv')
df.head()

,symbol,date,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
0,XIACF,2018-08-21 00:00:00+00:00,2.30,2.30,2.30,2.30,8784200,2.30,2.30,2.30,2.30,8784200,0.0,1.0
1,XIACF,2018-08-22 00:00:00+00:00,2.70,3.50,2.27,2.30,116872,2.70,3.50,2.27,2.30,116872,0.0,1.0
2,XIACF,2018-08-23 00:00:00+00:00,2.35,3.00,2.20,2.68,7406506,2.35,3.00,2.20,2.68,7406506,0.0,1.0
3,XIACF,2018-08-24 00:00:00+00:00,2.22,2.60,2.22,2.60,4898137,2.22,2.60,2.22,2.60,4898137,0.0,1.0
4,XIACF,2018-08-27 00:00:00+00:00,2.35,2.65,2.23,2.30,105011,2.35,2.65,2.23,2.30,105011,0.0,1.0